/* This sections sets the style of the expandable text boxes.

The code was written by James Steinbach (October 10, 2018) and made available at https://codepen.io/jdsteinbach/pen/GYmQjo.
*/
  
details.details_box {
  margin: 1rem auto;
  padding: 0 1rem;
  max-width: calc(100% - 0rem);
  position: relative;
  border: 0px solid #78909C;
  border-radius: 6px;
  background-color: #E9DAC4;
  color: #263238;
  transition: background-color .15s;
  
  > :last-child {
    margin-bottom: 1rem;
  }
  
  &::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    opacity: .15;
    box-shadow: 0 .25em .5em #263238;
    pointer-events: none;
    transition: opacity .2s;
    z-index: -1;
  }
  
  &[open] {
    background-color: #FFF;
    
    &::before {
      opacity: .6;
    }
  }
}

summary.details_box {
  padding: 1rem 2em 1rem 0;
  display: block;
  position: relative;
  font-weight: bold;
  cursor: pointer;
  
  &::before,
  &::after {
    width: .75em;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    background-color: currentColor;
    text-align: right;
    transform: translateY(-50%);
    transition: transform .2s ease-in-out;
  }
  
  &::after {
    transform: translateY(-50%) rotate(90deg);
    
    [open] & {
      transform: translateY(-50%) rotate(180deg);
    }
  }
  
  &::-webkit-details-marker {
    display: none;
  }
}

/* Left-align table captions 
https://github.com/quarto-dev/quarto-cli/discussions/1042
*/
caption, .table-caption {
  text-align: left;
}
