# Ignore general files and directories
.Rhistory
.RData
.Ruserdata
.Rproj
.Rproj.user
.DS_Store
scrnaseq.Rproj
/.quarto/
/_book/
/_freeze/

# Ignore files and directories produced in datasets directories (except download.R files and pbmc_datasets.xlsx)
/datasets/**
/test_datasets
!/datasets/**/download.R
!/datasets/pbmc_datasets.xlsx

# Ignore files and directories produced in workflow directories (except qmd files)
/modules/**
!/modules/*/
!/modules/**/*.qmd

# Ignore files and directories produced at the project level
/index.html
/index_files

# Ignore quarto local files that should not be cached
environment.local

# Ignore rstudio-server directories
rstudio-server/**