# Ignore general files and directories
.Rhistory
.RData
.Ruserdata
.Rproj
.Rproj.user
.DS_Store
scrnaseq.Rproj
/.quarto/
/_book/

# Ignore files and directories produced in datasets directories
/datasets/**

# Ignore files and directories produced in workflow directories (except qmd files)
/workflows/**
/!workflows/**/*.qmd
